@charset "utf-8";

body{
 background-image: url(https://images.unsplash.com/photo-1622708037347-49191ca61ab1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGNpZ2Fycm8lMjAlN0N8ZW58MHx8MHx8fDA%3D);
 background-repeat: no-repeat;
 background-size: cover;
}

 p{
    font-size: larger;
    color: black;
    font-style: italic;
 }

 h1{
    color: black;
    font-style: italic;
 }

div{
    text-align: center;
    font-size: 50px;
}

footer{
    text-align: center;
    color: rgb(0, 0, 0);
}